{% extends 'base.html.twig' %}

{% block title 'Admin | ' ~ nadpis %}

{% block body %}
	<div class="container">

		<h1 class="my-5">Admin</h1>

		<div class="card">
			<div class="card-body">

				{{ include('admin-nav.html.twig') }}

				<h2 class="h4 mt-2 mb-4">{{ nadpis }}</h2>

				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Jméno</th>
							<th scope="col">Pokoj</th>
							<th scope="col">Příjezd</th>
							<th scope="col">Odjezd</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						{% for item in list %}
							<tr>
								<td>{{ item.getId() }}</td>
								<td>{{ item.getJmeno() }}</td>
								<td>{{ item.getPokoj().getNazev() }}</td>
								<td>{{ item.getDatumOd().format('d.m.Y') }}</td>
								<td>{{ item.getDatumDo().format('d.m.Y') }}</td>
								<td>
									<a href="{{ path('admin-rezervace-detail',{id:item.getId()}) }}">detail</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

{% endblock %}
