{% extends 'base.html.twig' %}

{% block title 'Admin | ' ~ nadpis %}

{% block body %}
	<div class="container">
		<h1 class="my-5">Admin</h1>

		<div class="card">
			<div class="card-body">

				{{ include('admin-nav.html.twig') }}

				<h2 class="h4 mt-2 mb-4">{{ nadpis }}</h2>

				{{ form_start(form) }}
				<div class="row">
					{{ form_row(form.nazev,{row_attr:{class:'col-12 mb-3'}}) }}
					{{ form_row(form.typ,{row_attr:{class:'col-12 mb-3'}}) }}
					{{ form_row(form.neaktivni,{row_attr:{class:'col-12 mb-3'}}) }}


					<div class="col-12 mb-3 text-center">
						{{ form_errors(form) }}
					</div>


					{{ form_row(form.save,{row_attr:{class:'col-6 mb-3'}}) }}
					{{ form_row(form.delete,{row_attr:{class:'col-6 mb-3 text-end'}}) }}


				</div>
				{{ form_end(form) }}


			</div>
		</div>
	</div>

{% endblock %}
