<ul class="nav nav-tabs mb-4">
	<li class="nav-item">
		<a class="nav-link{% if aktinniMenu == 'rezervace'%} active{% endif %}" href="{{ path('admin-rezervace') }}">
			Rezervace
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link{% if aktinniMenu == 'pokoje'%} active{% endif %}" href="{{ path('admin-pokoje') }}">Pokoje</a>
	</li>
</ul>
