{% extends 'base.html.twig' %}

{% block title 'Admin | ' ~ nadpis %}

{% block body %}
	<div class="container">
    
		<h1 class="my-5">Admin</h1>

		<div class="card">
			<div class="card-body">

				{{ include('admin-nav.html.twig') }}

                <h2 class="h4 mt-2 mb-4">{{ nadpis }}</h2>

				<p class="text-end">
					<a href="{{ path('admin-pokoje-detail',{id:0}) }}" class="btn btn-sm btn-success">Nový pokoj</a>
				</p>

				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Název</th>
                            <th scope="col">Typ</th>
							<th scope="col">Stav</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						{% for item in list %}
							<tr class="{% if item.isNeaktivni() %}table-danger{% else %}table-success{% endif %}">
								<td>{{ item.getId() }}</td>
								<td>{{ item.getNazev() }}</td>
                                <td>{{ item.getTyp().getNazev() }}</td>
								<td>
									{% if item.isNeaktivni() %}
										neaktivní
									{% else %}
										aktivní
									{% endif %}
								</td>
								<td>
									<a href="{{ path('admin-pokoje-detail',{id:item.getId()}) }}">detail</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

{% endblock %}
