{% extends 'base.html.twig' %}

{% block title 'Admin | ' ~ nadpis %}

{% block body %}
	<div class="container">

		<h1 class="my-5">Admin</h1>

		<div class="card">
			<div class="card-body">

				{{ include('admin-nav.html.twig') }}

				<h2 class="h4 mt-2 mb-4">{{ nadpis }}</h2>

				<table class="table table-hover">
					<tbody>
						<tr>
							<th scope="row">Pokoj:</th>
							<td>{{ rezervace.getPokoj().getNazev() }}</td>
						</tr>
						<tr>
							<th scope="row">Příjezd:</th>
							<td>{{ rezervace.getDatumOd().format('d.m.Y') }}</td>
						</tr>
						<tr>
							<th scope="row">Odjezd:</th>
							<td>{{ rezervace.getDatumDo().format('d.m.Y') }}</td>
						</tr>
						<tr>
							<th scope="row">Jméno:</th>
							<td>{{ rezervace.getJmeno() }}</td>
						</tr>
						<tr>
							<th scope="row">Telefon:</th>
							<td>{{ rezervace.getTelefon() }}</td>
						</tr>
						<tr>
							<th scope="row">E-mail:</th>
							<td>{{ rezervace.getEmail() }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

{% endblock %}
