<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}{% endblock %}</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
		{% block importmap %}
			{{ importmap('app') }}
		{% endblock %}
	</head>

	<body lang="cs"> {% block body %}{% endblock %}
</body>
	</html>
