{% extends 'base.html.twig' %}

{% block title %}Rezervace
{% endblock %}

{% block body %}

	<div class="container">

		<h1 class="my-5">Rezervace</h1>

		{% if neaktivni is defined %}

			<div class="alert alert-danger" role="alert">
				Rezervace je momentálně nedostupná.
			</div>

		{% else %}

			{{ form_start(form) }}
			<div class="row">
				{{ form_row(form.typ,{row_attr:{class:'col-3 mb-3'}}) }}
				{{ form_row(form.od,{row_attr:{class:'col-3 mb-3'}}) }}
				{{ form_row(form.noci,{row_attr:{class:'col-3 mb-3'}}) }}
				{{ form_row(form.do,{row_attr:{class:'col-3 mb-3'}}) }}
				<div class="col-12 mb-3 text-center">
					{{ form_errors(form) }}
				</div>
				<div class="col-12 mb-5 text-center">
					<button type="submit" id="next" class="btn-primary btn">Vyhledat volné pokoje</button>
				</div>
			</div>
			{{ form_end(form) }}

			{% for pokoj in pokoje %}
				<div class="card mb-3 ">
					<div class="card-header">
						<h5 class="card-title">{{ pokoj.pokoj.getNazev() }}</h5>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Počet noci:
							{{ pokoj.noci }}</li>
						<li class="list-group-item">Datum příjezdu:
							{{ pokoj.datumOd.format('j.n.Y') }}</li>
						<li class="list-group-item">Datum odjezdu:
							{{ pokoj.datumDo.format('j.n.Y') }}</li>
					</ul>
					<div class="card-body text-end">
						<a href="{{ path('rezervace-pokoje',{id:pokoj.pokoj.getId() , od:pokoj.datumOd.format('Y-m-d'), do:pokoj.datumDo.format('Y-m-d'), typ:typ})}}" class="btn btn-sm btn-success">
							Rezervovat tento pokoj
						</a>
					</div>
				</div>
			{% endfor %}

			{% if neaktivniPokoj %}
				<div class="alert alert-danger" role="alert">Zvolený typ pokoje je momentálně dedostupny.</div>
			{% endif %}

			{% if obsazeno %}
				<div class="alert alert-danger" role="alert">
					<p>
						<strong>V požadovaném termínu je obsazeno.</strong>
					</p>
					{% if dalsiTermin %}
						<p>
							Nejbližší možný termín:
							<a href="{{dalsiTermin.link}}">{{dalsiTermin.text}}</a>
						</p>
					{% endif %}
				</div>

			{% endif %}


		{% endif %}
	</div>

{% endblock %}
