{% extends 'base.html.twig' %}

{% block title 'Rezervace pokoje' %}

{% block body %}
	<div class="container">

		<h1 class="my-5">Rezervace pokoje</h1>

		<p>
			<a href="{{ path('rezervace',{ od:datumOd.format('Y-m-d'), do:datumDo.format('Y-m-d'), typ:typ}) }}">Zpět na výběr pokojů</a>
		</p>

		{% if part == 'dokonceno' %}

			<div class="alert alert-success" role="alert">
				Vaše rezervace byla úspěšně odeslaná
			</div>

		{% else %}

			<div class="card mb-3 ">
				<div class="card-header">
					<h5 class="card-title">{{ pokoj.getNazev() }}</h5>
				</div>
				<div class="list-group list-group-flush">
					<div class="list-group-item">Počet noci:
						{{ noci }}</div>
					<div class="list-group-item">Datum příjezdu:
						{{ datumOd.format('j.n.Y') }}</div>
					<div class="list-group-item">Datum odjezdu:
						{{ datumDo.format('j.n.Y') }}</div>
				</div>
			</div>

			{% if part == 'objednavka' %}
				{{ form_start(form) }}
				<div class="row">
					{{ form_row(form.jmeno,{row_attr:{class:'col-12 mb-3'}}) }}
					{{ form_row(form.telefon,{row_attr:{class:'col-12 mb-3'}}) }}
					{{ form_row(form.email,{row_attr:{class:'col-12 mb-3'}}) }}
					<div class="col-12 mb-3 text-center">
						{{ form_errors(form) }}
					</div>
					<div class="col-12 mb-5 text-center">
						<button type="submit" id="next" class="btn-primary btn">Odeslat rezervaci</button>
					</div>
				</div>
				{{ form_end(form) }}

			{% elseif part == 'neaktivni' %}

				<div class="alert alert-danger" role="alert">
					Vybraný pokoj je momentálně nedostupný.
				</div>

			{% elseif part == 'obsazeno' %}

				<div class="alert alert-danger" role="alert">
					<p>
						<strong>Požadovaný pokoj je v uvedeném termínu obsazen.</strong>
					</p>
					{% if dalsiTermin is defined %}
						<p>
							Nejbližší možný termín:
							<a href="{{dalsiTermin.link}}">{{dalsiTermin.text}}</a>
						</p>
					{% endif %}
				</div>

			{% endif %}
		{% endif %}

	</div>

{% endblock %}
